@page
@model SupermarketWEB.Pages.Autenticacion.LoginModel
@{
    ViewData["Title"] = "Iniciar Sesión";
}

<h1>Iniciar Sesión</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for="User.Email">
        <div id="emailHelp" class="form-text">No compartiremos tu correo electrónico con nadie más.</div>
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" asp-for="User.Password">
        <span asp-validation-for="User.Password" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recuérdame</label>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}